---
import SEOHead from '../components/astro/SEOHead.astro';
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/assets/npm-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SEOHead title={title} description={description} />
  </head>
  <body class="bg-white text-gray-900 antialiased min-h-screen flex flex-col">
    <slot />
  </body>
</html>
